<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ITS.Common.AutoCAD" version="5.0.293.178" targetFramework="net40" />
  <package id="ITS.Common.RtfWriter" version="5.0.293.178" targetFramework="net40" />
  <package id="ITS.Common.Utils" version="5.0.293.178" targetFramework="net40" />
  <package id="ITS.Core" version="5.2.7398.418" targetFramework="net40" />
  <package id="ITS.GIS" version="5.2.7398.418" targetFramework="net40" />
  <package id="ITS.Plugin.AutoCAD" version="5.2.7332.409" targetFramework="net40" />
  <package id="ITS.Plugin.Core" version="5.2.7332.409" targetFramework="net40" />
  <package id="ITS.Service" version="5.2.7398.418" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
</packages>